body {
  font-family: 'Futura Std', Tahoma, sans-serif;
  font-size: 12px;
  padding: 10px;
  margin: 0;
  background: #e8f3ef;
  /* --color-accent-bg: gray; */
}

.example {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 400px;
}

.example-label {
  font-weight: bold;
  color: darkblue;
}

.title {
  padding: 10px;
  font-size: 1.8em;
  font-weight: bold;
}

.main {
  display: flex;
}

.left {
  flex: 1 0 500px;
}

.right {
  flex: 1 0 500px;
}

.author {
  text-align: right;
  padding: 10px;
  font-size: 1.2em;
}

/* ---------------- */
/* Modals */
/* ---------------- */
.giu-modal#modal-embedded .giu-modal-box {
  width: 500px;
}

.giu-modal#modal-introduction {
  z-index: 70;
}

.giu-modal#modal-introduction .giu-modal-box {
  width: 500px;
}

.giu-float.giu-float-error-modal-input,
.giu-float.giu-float-error-modal-input-drop-down-menu {
  z-index: 53;
}
.giu-float.giu-float-modal-input,
.giu-float.giu-float-modal-input-drop-down-menu {
  z-index: 55;
}
