/* ------------------------ */
/* Allows tap/click events on `window` (or its non-anchor descendants)
 to be detected by Giu components, e.g. to close floats */
/* ------------------------ */
@media handheld {
  * {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  * {
    cursor: pointer;
  }
}

/* ------------------------ */
/* Backdrop */
/* ------------------------ */
@keyframes giu-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.giu-backdrop {
  animation: giu-appear 300ms;
  opacity: 0.6;
}

/* ------------------------ */
/* DataTable */
/* ------------------------ */
/* Important transition, no only aesthetically. When a row's contents changes height
and it is not shown because it is above the viewport, wheneve the user scrolls up
to that row it will get rendered, report on its new height, and all of the subsequent
rows will get repositioned. This should happen slowly to avoid confusing jumps
while scrolling */
.giu-data-table.not-dragging.animated .giu-vertical-manager {
  transition: top 300ms;
}

/* Just in case a DataTable lands on a Modal: make sure the dragged
row is drawn above the modal, not below */
.giu-data-table-dragged-row {
  z-index: 50000;
}
