/* ======================== */
/* General */
/* ======================== */
/* Allow tap/click events on `window` (or its non-anchor descendants)
 to be detected by Giu components, e.g. to close floats */
@media handheld {
  * {
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  * {
    cursor: pointer;
  }
}

body {
  /* Text */
  --color-dim: #999999;
  --color-dark-text: black;
  --color-light-text: white;
  /* Others */
  --color-line: #999999;
  --color-line-dim: #cccccc;
  --color-line-dark: black;
  --color-input-bg: white;
  --color-accent-bg: #6600cc;
  --color-accent-fg: white;
  /* Notifs */
  --color-notif-info: white;
  --color-notif-success: #51a351;
  --color-notif-warn: #f89406;
  --color-notif-error: #bd362f;
}

.giu-box-shadow {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* ======================== */
/* Components */
/* ======================== */

/* ------------------------ */
/* Backdrop */
/* ------------------------ */
.giu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: giu-appear 300ms;
  opacity: 0.6;
}

.giu-backdrop.giu-backdrop-ios {
  width: 110vw;
  height: 110vh;
}

@keyframes giu-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

/* ------------------------ */
/* Button */
/* ------------------------ */
.giu-button {
  cursor: pointer;
  user-select: none;
}

.giu-button.giu-button-with-border {
  display: inline-block;
  border: 1px solid var(--color-line);
  border-radius: 5px;
  padding: 1px 5px;
}

.giu-button.giu-button-disabled {
  color: var(--color-dim);
  cursor: default;
  pointer-events: none;
}

/* ------------------------ */
/* DataTable, VirtualScroller */
/* ------------------------ */
.giu-data-table {
  max-width: 100%;
  overflow-x: hidden;
}

/* Important transition, not only aesthetically. When a row's contents changes height
and it is not shown because it is above the viewport, wheneve the user scrolls up
to that row it will get rendered, report on its new height, and all of the subsequent
rows will get repositioned. This should happen slowly to avoid confusing jumps
while scrolling */
.giu-data-table.giu-data-table-not-dragging.giu-data-table-animated
  .giu-vertical-manager {
  transition: top 300ms;
}

/* Just in case a DataTable lands on a Modal: make sure the dragged
row is drawn above the modal, not below */
.giu-data-table-dragged-row {
  z-index: 50000;
}

.giu-virtual-scroller {
  margin-top: 2px;
  margin-bottom: 2px;
}

.giu-virtual-scroller .giu-virtual-scroller-sizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

/* ------------------------ */
/* DataTableHeader, DataTableRow */
/* ------------------------ */
.giu-data-table-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-line);
}

.giu-data-table-header-cell {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.giu-data-table-header-cell-level-1,
.giu-data-table-header-cell-level-2,
.giu-data-table-header-cell-level-3 {
  left: 16px;
  overflow-x: visible;
}
.giu-data-table-header-cell-level-1 {
  top: -15px;
}
.giu-data-table-header-cell-level-2 {
  top: -30px;
}
.giu-data-table-header-cell-level-3 {
  top: -45px;
}
.giu-data-table-header-cell-label-clickable {
  cursor: pointer;
}

.giu-data-table-header-callout {
  position: absolute;
  right: 100%;
  top: 7px;
  stroke: var(--color-line);
  stroke-width: 1px;
  fill: none;
}

.giu-data-table-header-sort-icon {
  margin-left: 5px;
}

.giu-data-table-row {
  display: flex;
  flex-direction: row;
  padding-top: 1px;
  padding-bottom: 1px;
}

.giu-data-table-row.giu-data-table-row-selected {
  background-color: var(--color-accent-bg);
  color: var(--color-accent-fg);
}

.giu-data-table-fetching-row {
  margin-top: 1px;
  margin-bottom: 2px;
}

.giu-data-table-cell {
  padding-left: 2px;
  padding-right: 2px;
}

/* ------------------------ */
/* DropDownMenu */
/* ------------------------ */
.giu-drop-down-menu-title {
  display: inline-block;
  cursor: pointer;
  padding: 3px 6px;
}

.giu-drop-down-menu-title.giu-drop-down-menu-title-selected {
  background-color: var(--color-accent-bg);
  color: var(--color-accent-fg);
}

/* ------------------------ */
/* Floats */
/* ------------------------ */
.giu-floats {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.giu-float {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.giu-float-inner {
  position: fixed;
  opacity: 0.5;
}

/* ------------------------ */
/* FocusCapture */
/* ------------------------ */
.giu-hidden-field {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  cursor: default;
  pointer-events: none;
  z-index: -80;
  top: 8px;
  left: 8px;
}

.giu-hidden-field.giu-hidden-field-ios {
  position: absolute;
  top: 0;
  left: 0;
}
